SECRET_KEY=

DEBUG=

# Настройки для создания базы данных через Docker-compose
POSTGRES_DB=
POSTGRES_USER=
POSTGRES_PASSWORD=

# Настройки базы данных
DB_NAME=
DB_USER=
DB_PASSWORD=
DB_HOST=
DB_PORT=

# Настройки SMTP-сервера
EMAIL_BACKEND=
EMAIL_HOST=
EMAIL_PORT=
EMAIL_HOST_USER=
EMAIL_HOST_PASSWORD=

# Настройки SmsAero для отправки смс-сообщений https://smsaero.ru/
SMSAERO_EMAIL=
SMSAERO_API_KEY=

# Настройки Telegram
TELEGRAM_TOKEN=